POSTGRES_DB={NOME DO BANCO}
POSTGRES_USER={USUARIO DO BANCO}
POSTGRES_PASSWORD={SENHA DO BANCO}
POSTGRES_PORT={PORTA DO BANCO}
SERVER_PORT={PORTA DO SERVIDOR}
URL_CLOUD_AMQP_RMQ={ENDERECO DO RABBITMQ}
PORTA_EMAIL_SMTP={PORTA DO SMTP}
USER_EMAIL_SMTP={USUARIO DO EMAIL}
PASSWORD_EMAIL_SMTP={SENHA DO APP DO GOOGLE}